{
  "presets": [
    "react-native"
  ],
  "plugins": [
    ["module-resolver",
      {
        "alias": {
          "modules": "./src/modules",
          "components": "./src/components",
          "types": "./src/types",
          "screens": "./src/screens",
          "static": "./src/static",
          "config": "./src/config",
          "navigation": "./src/navigation",
          "reducer": "./src/reducer",
          "store": "./src/store",
          "app": "./src/app",
          "storeMocks": "./src/storeMocks",
          "reducers": "./src/reducers",
          "theme": "./native-base-theme",
          "selectors": "./src/selectors"
        }
      }
    ],
    ["transform-class-properties"]
  ]
}
